<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/img/spdk.svg">
  <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" sizes="32x32">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/spdk.css">

  <link href="{{ site.baseurl }}/feed.xml" type="application/atom+xml" rel="alternate" title="Atom Feed">
</head>
