<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="icon" type="image/svg+xml" href="/assets/img/spdk.svg">
  <link rel="icon" href="/assets/favicon.ico" sizes="32x32">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" type="text/css">
  <link rel="stylesheet" href="/assets/css/spdk.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">

  <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Atom Feed">
</head>
